<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT PROFILE | GAME</title>
    <link rel="stylesheet" href="/css/partials_static/partials_css/edit_profile.css">
</head>

<body>
    <main>
        <div class="text-area">
            <h1>EDIT PROFILE</h1>
        </div>

        <div class="data-user">
            <h2>Your data:</h2>
            <p><strong>Name:</strong> Marcelo</p>
            <p><strong>Password:</strong> Senha</p>
        </div>

        <div class="options">
            <div class="update">
                <h1>UPDATE</h1>
            </div>
            <div class="delete">
                <h1>DELETE</h1>
            </div>


        </div>
        <form action="" class="update-user">
            <label for="new_user">NEW NAME:</label><br>
            <input type="text" name="new_user" id="new_user" placeholder="Name"><br>
            <label for="new_password">NEW PASSWORD:</label><br>
            <input type="password" name="new_password" id="new_password" placeholder="Password"><br>

            <button class="btn-form">UPDATE</button>
        </form>
    </main>
</body>

</html>